* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(228, 225, 225);
    padding: 0 16px;
  }
  header {
    background-color: #5584AC;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
  }
  .pawImg {
    float: left;
    margin-right: 50px;
    width: 70px;
  }
 #linkUnderline{
  text-decoration: none;
 }
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 98%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  
 /* From uiverse.io by @alexruix */
.carddiv{
    display: flex;
    flex-direction: row;
    
}


 .card {
    margin: 24px 26px;
    width: 290px;
    height: 404px;
    border-radius: 1em;
    padding: 1.5rem;
    background: #f5f5f5;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
   }
   
   .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    
   }
   
   .card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    
   }
   
   /*Text*/
   .text-title {
    font-size: 4rem;
    font-weight: 500;
    width: 290px;
   }
   
   .text-body {
    letter-spacing: 0.8px;
    font-size: 1.1rem;
    margin: 5px 0 15px 0;
    inline-size: 400px;
    overflow-wrap: break-word;
    width: 290px;
   }
   
   /*Button*/
   .card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #f5f5f5;
    color: #000;
    font-weight: bold;
    transition: 0.4s ease;
   }
   
   /*Image*/
   .card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee9ca7;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
   }
   
   /*Hover*/
   .card:hover {
    transform: translateY(5%);
   }
   
   .card:hover:before {
    opacity: 1;
   }
   
   .card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
    width: 290px;
   }
   
   .card-button:hover {
    background: dodgerblue;
    color: #f5f5f5;
   }

   /* From uiverse.io by @adamgiebl */
.divlogin {
  right: 7%;
  top: 1%;
  position: absolute;
  align-items: center;
  margin: 15px;
  
}

   .login {
  right: 7%;
  top: 1%;
  flex-wrap: wrap;
  
  
  margin: 15px;
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #00000062;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #ffffff9d;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
 }
 .logout {
  right: 7%;
  top: 1%;
  flex-wrap: wrap;
  
  
  margin: 15px;
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #00000062;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #ffffff9d;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
 }
 button:hover {
  color: rgba(255, 255, 255, 0.644);
  box-shadow: inset 0 -100px 0 0 #0000005d;
 }
 
 button:active {
  transform: scale(0.9);
 }
 .rows {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap
}
.row {
  
  display: flex;
}
 .cartao {
  margin: 24px 26px;
    width: 290px;
    height: 404px;
    border-radius: 1em;
    padding: 1.5rem;
    background: #f5f5f5;
    position: relative;
    
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
 }
 
 .sinput{
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 10%;
 }
 #formbutton  {
   margin:auto;
   position: relative;
  display: flex; 
}
/* From uiverse.io by @Yaseen549 */
.sinput {
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff,
              -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
 }
 
 .sinput:focus {
  outline-color: white;
  place-content: "Enter your message!";
 }